.personalInfo{
    width: 60%;
    margin: 5% auto 0 auto;
    border-radius: 20px;
    border: 1px solid #797979;
    background-color: #eef2f9;
    box-sizing: border-box;
}

.Info-left{
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.Info-right{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: large;
}

.personalIcon{
    width: 50%;
}

.editInfo{
    background-color: #fef4d5;
    color: #ec8f73;
}

.delAcc{
    background-color: #ec8f73;
    color: #eef2f9;
}

.el-button{
    margin-top: 5%;
}

.personalBlock{
    width: 80%;
    margin: 0 auto 0 auto;
}

.block_title{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: large;
    color: #c885a0;
}

