
.center-in-center{
    width: 50%;
    height: 50%;
    background-color: #f4b6d1;
    border: #f4b6d1;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    text-align: center;
}

.center-again{
    width: 50%;
    height: 50%;
    position: absolute;
    color: rgb(52, 50, 50);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    text-align: center;
}

.el-input{
    width: 80%;
}